{% extends "layout.html" %}
{% block content %}
	<h1>About<h1>
		<div class="content-section">
		<form method='POST' action "">
			
				<legend class="border-bottom-md-4">HOW SAFE?<h2 class="h2text1"> This is an area safety checker. Entering your postcode will return a DANGER LEVEL value for a mile radius of the entered postcode.</h2>
					
					 </legend>


</form>
</div>
	<div class="content-section">
		<form method='POST' action "">
			
			
				<legend class="border-bottom-mb-4">Enter PostCode
				</legend>
				
	</form>
	</div>
{% endblock content%}


	
