{% extends "layout.html" %}
{% block content %}
<div class="content-section">
		<form method='POST' action "">
			<fieldset class="form-group">
				<legend class="border-bottom-md-4">HOW SAFE?<h2 class="h2text1"> This is an area safety checker. Entering your postcode will return a DANGER LEVEL value for a 1 mile radius of the entered postcode.</h2>
					
				</legend>

</fieldset>
</form>
</div>
	<div class="content-section">
		<form method='POST' action "">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom-mb-4">Enter PostCode 
				</legend>
			</fieldset>
			
			<div class="form-group">
				{{ form.postcode(
					class="form-control-sm") }}
				{{ form.enter(class="btn btn-outline-info", id="postcode") }}
				<h2 class="h2text2"> danger level: {{Safety_rating,postcode}} </h2>


			</div>
				
		</form>
	</div>
	
	
{% endblock content%}
